@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    /* background: #f6f8f8; */
    background: #efefef;
    font-family: Arial, Verdana, Times;
    font-size:14px;
    /*
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    */
}

h1, h2, h3, h4, h5, h6, .sidebar {
    font-family: 'Montserrat','Bree Serif', serif !important;
}

.report {
    margin: 0px !important;
    border-radius:100px solid lightgray;
}

label {
    font-weight: bold;
}

footer {
    padding:20px;
    background: #40454c;
    color: white;
    font-size:12px;
}

span.bg-dark {
    margin-right: 5px;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    color: white;
}

thead {
    font-weight: bold;
}

.nav-item {
    border-bottom: 1px dotted gray;
}

.nav-item a {
    color: white !important;
}

h6.sidebar-heading {
    text-transform: uppercase;
    font-size: 18px;
}
